@import "../../../Base.scss";

.cardIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 80%;
  height: 80%;
  color: black;
  font-size: 50px;
  font-weight: bold;
  font-style: italic;

  &:before {
    content: '';
    position: absolute;
    top: 25%;
    left: 0;
    border-radius: 50%;
    width: 100%;
    height: 50%;
    transform: rotate(-60deg);
    border-top: solid 2px;
    border-bottom: solid 4px;
    background: white;
    z-index: -1;
  }

  &.red {
    color: darken($color-red, 10%);
  }

  &.green {
    color: darken($color-green, 10%);
  }

  &.blue {
    color: darken($color-blue, 10%);
  }

  &.yellow {
    color: darken($color-yellow, 10%);
  }


  &__wild {
    position: absolute;
    top: 25%;
    left: 0;
    border-radius: 50%;
    width: 100%;
    height: 50%;
    transform: rotate(-60deg);
    overflow: hidden;

    > div {
      position: absolute;
      width: 50%;
      height: 50%;

      &:nth-child(1) {
        background: $color-red;
        top: 0;
        left: 0;
      }

      &:nth-child(2) {
        background: $color-blue;
        top: 0;
        right: 0;
      }

      &:nth-child(3) {
        background: $color-yellow;
        bottom: 0;
        left: 0;
      }

      &:nth-child(4) {
        background: $color-green;
        bottom: 0;
        right: 0;
      }
    }
  }
}
