.board {
  display: block;
  position: absolute;
  width: 50%;
  height: 50%;
  overflow: hidden;

  &.active {
    background: rgba(black, .9);
  }

  &.z-0 {
    left: 0;
    top: 0;
  }

  &.z-1 {
    right: 0;
    top: 0;
  }

  &.z-2 {
    right: 0;
    bottom: 0;
  }

  &.z-3 {
    left: 0;
    bottom: 0;
  }
}
