.aiInterface {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 400px;
  z-index: 2;

  &.z-1 {
    top: 50%;
    left: 0;
    transform: rotateY(6deg) rotateZ(-6deg) rotateX(-1deg) scale(.7) rotate(-15deg) translateY(-140px);
    transform-origin: top right;
  }

  &.z-2 {
    top: 0;
    left: 50%;
    width: 600px;
    transform: translateX(-50%) scale(.6) translateY(50px);
    transform-origin: top center;
  }

  &.z-3 {
    top: 50%;
    right: 0;
    transform: rotateY(-6deg) rotateZ(6deg) rotateX(1deg) scale(.7) rotate(15deg) translateY(-140px);
    transform-origin: top left;
  }

  &__slot {
    position: relative;
    width: auto;
    max-width: 40px;

    @for $i from 1 through 8 {
      &:nth-child(#{$i + 1}) {
        z-index: $i;
        transform: rotate(#{$i * .5}deg);
      }
    }
  }
}
