.card {
  display: block;
  position: relative;
  height: 160px;
  width: 110px;
  background: black;
  color: silver;
  box-sizing: border-box;
  border: white solid 5px;

  &__wrapper {
    position: relative;
    overflow: hidden;
    max-width: 60px;

    &:nth-child(8) {
      min-width: 20px;
    }

    &:nth-child(7) {
      min-width: 10px;
    }

    &:nth-child(n+9) {
      min-width: 30px;
    }

    &:last-child {
      overflow: visible;
    }

    @for $i from 1 through 8 {
      &:nth-child(#{$i}) {
        z-index: #{$i};
      }
    }

    &.flipped {
      opacity: .2;
    }
  }

  &:before {
    padding-top: 100%;
  }

  &__figure {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;

    &:nth-child(1),
    &:nth-child(2) {
      top: 0;
    }

    &:nth-child(3),
    &:nth-child(4) {
      bottom: 0;
    }

    &:nth-child(1),
    &:nth-child(3) {
      left: 0;
    }

    &:nth-child(2),
    &:nth-child(4) {
      right: 0;
    }
  }

  &.red {
    background: red;
  }

  &.yellow {
    background: yellow;
  }

  &.green {
    background: green;
  }

  &.blue {
    background: blue;
  }
}

.z-1,
.z-2 {
  .card {
    left: -51px;
  }
}
